apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: namespaceclasses.core.akuity.io
spec:
  group: core.akuity.io
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        description: "NamespaceClass defines resource templates for namespaces. Associated namespaces will automatically create resources specified in the template."
        properties:
          spec:
            type: object
            description: "Core configuration of NamespaceClass, contains K8s resource templates to be automatically created for associated namespaces."
            properties:
              resources:
                type: array
                description: "List of resource templates to be automatically created for associated namespaces (supports any resource type). Each item contains a 'template' (arbitrary K8s resource)."
                items:
                  type: object
                  properties:
                    template:
                      type: object
                      description: "A K8s resource manifest (any kind). Unknown fields are preserved to support arbitrary resource shapes."
                      x-kubernetes-preserve-unknown-fields: true
                  required: ["template"]
              deletionPolicy:
                type: string
                description: "Behavior when this NamespaceClass is deleted. Allowed values: Cascade or Orphan."
                enum:
                  - Cascade
                  - Orphan
                default: Cascade
            required: ["resources"]
          status:
            type: object
            description: "Sync status of NamespaceClass, automatically updated by the controller."
            properties:
              syncedNamespaces:
                type: array
                items:
                  type: string
              lastSyncTime:
                type: string
                format: date-time
    subresources:
      status: {}
  names:
    kind: NamespaceClass
    plural: namespaceclasses
    shortNames: ["nsclass"]
    categories: ["all"]
  scope: Cluster